:root {
  --dark: #222;
  --light: rgb(241, 241, 241);
  --pry: #00C57C;
  --sec: #8B00C5;
}

:root {
  --dark: #222;
  --light: rgb(241, 241, 241);
  --pry: #00C57C;
  --sec: #8B00C5;
}

* {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
}

::-moz-selection {
  color: black;
  background-color: var(--pry);
}

::selection {
  color: black;
  background-color: var(--pry);
}

html {
  -webkit-transition: 0.9s 0.6s ease;
  transition: 0.9s 0.6s ease;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: proximity;
      scroll-snap-type: proximity;
}

.back-top-top {
  margin: 10px;
  bottom: 10%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  right: -3%;
  margin-top: -10px;
  color: #00C57C;
  opacity: 0;
}

.back-top-top.active {
  opacity: 1;
  -webkit-animation: fade-in 2s forwards;
          animation: fade-in 2s forwards;
  cursor: pointer;
}

.back-top-top::after {
  content: '\f062';
  height: 300px;
  font-family: fontAwesome;
  margin: 15px 0;
  padding: 10px;
  mix-blend-mode: difference;
}

body {
  font-family: 'Open Sans',sans-serif;
  line-height: 1.4;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  overflow-y: hidden;
  /* background: url('../img/curve-bg.svg') no-repeat; */
  background-size: cover;
  color: #fff;
  background-color: #000;
}

body.true {
  overflow-y: scroll;
}

body {
  font-family: 'Open Sans',sans-serif;
  line-height: 1.4;
  -webkit-scroll-behavior: smooth;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: mandatory;
      scroll-snap-type: mandatory;
  overflow-y: hidden;
  /* background: url('../img/curve-bg.svg') no-repeat; */
  background-size: cover;
  color: #fff;
  background-color: #000;
}

body.true {
  overflow-y: scroll;
}

.fab {
  font-size: 22px;
}

a.fab {
  text-decoration: none;
  color: var(--light);
  padding: 0px 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.fab:hover {
  color: var(--pry);
}

/**
 * /* New Changes Made
 *
 * @format
 */
#container {
  opacity: 0;
  -webkit-transition: 0.6s 0.5s;
  transition: 0.6s 0.5s;
}

#container.true {
  opacity: 1;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 99;
  display: -ms-grid;
  display: grid;
  place-items: center;
  /* display: none; */
  -webkit-transition: 0.6s;
  transition: 0.6s;
  text-align: center;
}

#loader h2 {
  color: #00C57C;
  font-size: calc(5rem - 100%);
}

#loader .wavy-animation span {
  display: inline-block;
}

#loader .wavy-animation span:nth-child(1) {
  -webkit-animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.1s infinite;
          animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.1s infinite;
}

#loader .wavy-animation span:nth-child(2) {
  -webkit-animation: wavy 0.8s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.2s infinite;
          animation: wavy 0.8s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.2s infinite;
}

#loader .wavy-animation span:nth-child(3) {
  -webkit-animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.3s infinite;
          animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.3s infinite;
}

#loader .wavy-animation span:nth-child(4) {
  -webkit-animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.4s infinite;
          animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.4s infinite;
}

#loader .wavy-animation span:nth-child(5) {
  -webkit-animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.5s infinite;
          animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.5s infinite;
}

#loader .wavy-animation span:nth-child(6) {
  -webkit-animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.6s infinite;
          animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.6s infinite;
}

#loader .wavy-animation span:nth-child(7) {
  -webkit-animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.7s infinite;
          animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.7s infinite;
}

#loader .wavy-animation span:nth-child(8) {
  -webkit-animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.8s infinite;
          animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.8s infinite;
}

#loader .wavy-animation span:nth-child(9) {
  -webkit-animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.9s infinite;
          animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 0.9s infinite;
}

#loader .wavy-animation span:nth-child(10) {
  -webkit-animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 1s infinite;
          animation: wavy 1s cubic-bezier(0.1, -0.28, 0.735, 0.25) 1s infinite;
}

#loader .main {
  position: absolute;
  top: 0;
  left: 0;
  height: 50vh;
  z-index: -1;
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#loader .loader-main-top {
  background-color: black;
}

#loader .loader-main-bottom {
  background-color: black;
  top: unset;
  bottom: 0;
}

#loader.false {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
  visibility: hidden;
}

#loader.false .loader-main-top {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

#loader.false .loader-main-bottom {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

:root {
  --dark: #222;
  --light: rgb(241, 241, 241);
  --pry: #00C57C;
  --sec: #8B00C5;
}

.top-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  z-index: 14;
  background: rgba(0, 0, 0, 0.705);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.top-header .nav-links {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (100px)[5];
      grid-template-columns: repeat(5, 100px);
  grid-gap: 10px;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hamburger {
  /* margin: 0 15px; */
  position: absolute;
  margin-top: 10px;
  top: 10px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  place-items: center;
  height: 48px;
  width: 48px;
  border: 2px solid #eee;
  cursor: pointer;
  background: inherit;
  border-radius: 50%;
}

.hamburger-main-cont > div {
  width: 25px;
  height: 3px;
  border-radius: 10px;
  background-color: #fff;
  margin: 4px;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hamburger-main-cont > div:nth-child(odd) {
  width: 20px;
}

.top-header .nav-links .link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.top-header .nav-links .link.active {
  color: var(--pry);
}

.top-header .nav-links .link-icon {
  display: none;
}

.top-header .nav-links .link:hover:not(.active) {
  letter-spacing: 3px;
}

.nav-bar-mobile {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  height: 70px;
  padding: 10px 0;
}

.nav-bar-mobile .logo {
  width: 50px;
  margin: 0 20px;
}

/* ****************HERO SECTION********************************/
:root {
  --dark: #222;
  --light: rgb(241, 241, 241);
  --pry: #00C57C;
  --sec: #8B00C5;
}

/**
 * ********
 * ONSCROLL ANIMATIONS
 * ***********
 * *********
 *
 * @format
 */
/*Globals*/
.scroller {
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
  opacity: 0;
}

/********************/
.fade-up {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.fade-up.active {
  -webkit-animation-name: fade-up;
          animation-name: fade-up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes fade-up {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade-up {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/**********************/
.fade-down {
  opacity: 0;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.fade-down.active {
  -webkit-animation-name: fade-down;
          animation-name: fade-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes fade-down {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade-down {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*************/
/**********************/
/**********************/
.fade-in {
  opacity: 0;
}

.fade-in.active {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes fade-in {
  0% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
  }
  100% {
    opacity: 1;
  }
}

/*****************/
/***********
**************
*****'****/
@-webkit-keyframes slide-2 {
  0% {
  }
  100% {
    -webkit-transform: translate(20px, 75px);
            transform: translate(20px, 75px);
  }
}
@keyframes slide-2 {
  0% {
  }
  100% {
    -webkit-transform: translate(20px, 75px);
            transform: translate(20px, 75px);
  }
}

@-webkit-keyframes fade {
  0% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
  }
  100% {
    opacity: 1;
  }
}

.hero {
  position: relative;
  /* height: 90vh; */
  padding: 5% 0;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.hero.active {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
}

.hero .small {
  font-size: 30px;
}

.ll {
  background: -webkit-linear-gradient(45deg, var(--pry), var(--sec), #8a00c5c2, #00c57dc0, #a91fe4, #28f6ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: linearAnimate 5s 0.2s linear infinite;
          animation: linearAnimate 5s 0.2s linear infinite;
  background-size: 300% 100%;
  color: #fff;
  mix-blend-mode: screen;
}

.ll:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.hero .mt {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  mix-blend-mode: screen;
  color: #b6ff18;
  color: #00C57C;
  opacity: .9;
  -webkit-animation: clip1 3s ease-in-out infinite alternate;
          animation: clip1 3s ease-in-out infinite alternate;
}

.hero .mt::after {
  content: '_';
  display: inline;
  color: #fff;
  opacity: 0;
  -webkit-animation: fade-in 0.7s infinite;
          animation: fade-in 0.7s infinite;
  font-size: 20px !important;
}

.hero .tiny {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 4px;
  opacity: .5;
}

.hero .w {
  font-size: 14px;
  color: #fff;
}

.hero .btn:hover {
  color: var(--dark);
  background-color: var(--pry);
}

.hero .content {
  position: relative;
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100vh;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.hero .content .intro {
  position: relative;
  font-size: 3rem;
  color: #fff;
  -webkit-animation: fade 0.5s 0.2s forwards linear;
          animation: fade 0.5s 0.2s forwards linear;
  opacity: 0;
  margin: 0 5%;
  padding: 0;
  width: 600px;
  white-space: nowrap;
}

.hero .content .intro .name {
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-animation: slide 0.7s 0.4s forwards;
          animation: slide 0.7s 0.4s forwards;
}

.hero .logo-initial-intro-name {
  /* position: absolute; */
  z-index: -1;
  top: 0;
  width: 100px;
  -moz-user-select: text;
  -webkit-user-select: text;
      -ms-user-select: text;
          user-select: text;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
  -webkit-animation: slide-2 0.7s 0.4s forwards linear;
          animation: slide-2 0.7s 0.4s forwards linear;
}

.logo-hero {
  width: 450px;
}

.fmo {
  margin-top: 20px;
}

.bg-logo-img {
  position: fixed !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/** @format */
#about {
  position: relative;
}

#about .heading {
  margin: 10px;
  padding: 20px;
  font-size: calc(5rem - 100%);
  opacity: 0.12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

:root {
  --dark: #222;
  --light: rgb(241, 241, 241);
  --pry: #00C57C;
  --sec: #8B00C5;
}

/* CONTACT */
.contact {
  position: relative;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  /*
    background: url('../img/curve-1.svg') no-repeat;
    background-size: 100%;
    background-position: 0%
*/
}

.contact a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.contact a:hover {
  text-decoration: none;
  color: #00C57C;
}

.contact .lt-info {
  margin: 0 20px;
}

.contact .lt-info h3 {
  font-size: 30px;
  font-weight: bolder;
}

.contact .further-contact {
  padding: 5px 0;
}

.contact .further-contact a {
  display: block;
  font-size: 19px;
  padding: 6px 0;
}

.contact .lt-info .sub {
  display: block;
  font-size: 25px;
  font-weight: lighter;
  padding: 10px 0;
}

.contact .th {
  padding: 10px 0;
  border-bottom: 2px solid var(--pry);
}

.contact .socials {
  margin: 10px;
}

.contact .socials .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.contact .socials .icons li {
  padding: 15px 0;
}

.contact .socials .icons li a {
  text-decoration: none;
  font-size: 22px;
  -webkit-transition: 0.3;
  transition: 0.3;
}

.contact .socials .icons li a:hover + .fab {
  color: var(--pry);
}

.contact .socials .icons li span {
  padding: 0px 8px;
}

.contact .socials .icons li .brand-name {
  font-weight: lighter;
}

.small {
  font-size: 16px;
}

.border-line {
  width: calc(50% + 20px);
  border: 3px solid rgba(128, 128, 128, 0.13);
  margin: 0px auto;
  border-radius: 100px;
}

footer {
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* align-items: center; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px 0;
}

.contact-form input {
  padding: 13px;
  border: none;
  outline: none;
  margin: 10px 0;
}

.contact-form textarea {
  padding: 10px;
  border: none;
  outline: none;
  height: 130px;
  margin: 10px 0;
}

.contact-form button {
  padding: 10px;
  outline: none;
  margin: 10px 0;
  width: 40%;
  background-color: var(--pry);
  border: 2px solid var(--pry);
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-form button:hover, .contact-form button:focus {
  background-color: transparent;
}

.contact-form .input {
  background-color: rgba(68, 88, 70, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: #fff;
  border: 2px solid rgba(255, 0, 0, 0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.contact-form .input:focus {
  background-color: rgba(121, 121, 121, 0.609);
}

.contact-form .input::-webkit-input-placeholder {
  color: #fff;
  opacity: .8;
  font-family: inherit;
}

.contact-form .input:-ms-input-placeholder {
  color: #fff;
  opacity: .8;
  font-family: inherit;
}

.contact-form .input::-ms-input-placeholder {
  color: #fff;
  opacity: .8;
  font-family: inherit;
}

.contact-form .input::placeholder {
  color: #fff;
  opacity: .8;
  font-family: inherit;
}

.contact-form .input.err {
  border: 2px solid rgba(255, 0, 0, 0.904);
}

/* ************MEDIA QUERIES**************** */
/** @format */
/* ****************HERO SECTION********************************/
:root {
  --dark: #222;
  --light: rgb(241, 241, 241);
  --pry: #00C57C;
  --sec: #8B00C5;
}

/**
 * ********
 * ONSCROLL ANIMATIONS
 * ***********
 * *********
 *
 * @format
 */
/*Globals*/
.scroller {
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
  opacity: 0;
}

/********************/
.fade-up {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.fade-up.active {
  -webkit-animation-name: fade-up;
          animation-name: fade-up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@keyframes fade-up {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/**********************/
.fade-down {
  opacity: 0;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.fade-down.active {
  -webkit-animation-name: fade-down;
          animation-name: fade-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@keyframes fade-down {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*************/
/**********************/
/**********************/
.fade-in {
  opacity: 0;
}

.fade-in.active {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@keyframes fade-in {
  0% {
  }
  100% {
    opacity: 1;
  }
}

/*****************/
/***********
**************
*****'****/
@keyframes slide-2 {
  0% {
  }
  100% {
    -webkit-transform: translate(20px, 75px);
            transform: translate(20px, 75px);
  }
}

@keyframes fade {
  0% {
  }
  100% {
    opacity: 1;
  }
}

.hero {
  position: relative;
  /* height: 90vh; */
  padding: 5% 0;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.hero.active {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  opacity: 0;
}

.hero .small {
  font-size: 30px;
}

.ll {
  background: -webkit-linear-gradient(45deg, var(--pry), var(--sec), #8a00c5c2, #00c57dc0, #a91fe4, #28f6ab);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: linearAnimate 5s 0.2s linear infinite;
          animation: linearAnimate 5s 0.2s linear infinite;
  background-size: 300% 100%;
  color: #fff;
  mix-blend-mode: screen;
}

.ll:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.hero .mt {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  mix-blend-mode: screen;
  color: #8ab2bf;
  color: #00C57C;
  opacity: .9;
  -webkit-animation: clip1 3s ease-in-out infinite alternate;
          animation: clip1 3s ease-in-out infinite alternate;
}

.hero .mt::after {
  content: '_';
  display: inline;
  color: #fff;
  opacity: 0;
  -webkit-animation: fade-in 0.7s infinite;
          animation: fade-in 0.7s infinite;
  font-size: 20px !important;
}

.hero .tiny {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 4px;
  opacity: .5;
}

.hero .w {
  font-size: 14px;
  color: #fff;
}

.hero .btn:hover {
  color: var(--dark);
  background-color: var(--pry);
}

.hero .content {
  position: relative;
  height: 50vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 100vh;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.hero .content .intro {
  position: relative;
  font-size: 3rem;
  color: #fff;
  -webkit-animation: fade 0.5s 0.2s forwards linear;
          animation: fade 0.5s 0.2s forwards linear;
  opacity: 0;
  margin: 0 5%;
  padding: 0;
  width: 600px;
  white-space: nowrap;
}

.hero .content .intro .name {
  position: absolute;
  left: 0;
  z-index: 1;
  -webkit-animation: slide 0.7s 0.4s forwards;
          animation: slide 0.7s 0.4s forwards;
}

.hero .logo-initial-intro-name {
  /* position: absolute; */
  z-index: -1;
  top: 0;
  width: 100px;
  -moz-user-select: text;
  -webkit-user-select: text;
      -ms-user-select: text;
          user-select: text;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
  -webkit-animation: slide-2 0.7s 0.4s forwards linear;
          animation: slide-2 0.7s 0.4s forwards linear;
}

.logo-hero {
  width: 450px;
}

.fmo {
  margin-top: 20px;
}

.bg-logo-img {
  position: fixed !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#projects {
  position: relative;
  width: 95vw;
  padding: 100px 0;
  margin: 10rem auto;
}

#projects .stroke {
  position: absolute;
  top: 5%;
  left: 2%;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  height: 100%;
  z-index: -1;
  width: 3px;
  opacity: 0.4;
  font-weight: bolder;
  font-size: 10rem;
  padding: 1px;
  background-color: #00C57C;
}

#projects .heading {
  margin: 10px;
  position: absolute;
  top: -5%;
  left: 0%;
  z-index: 1;
  padding: 20px 0;
  font-size: calc(5rem - 100%);
  opacity: 0.12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

#projects .projects {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (minmax(350px, 0.7fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(350px, 0.7fr));
}

#projects .projects .project {
  position: relative;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 30px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  color: white;
  background-color: #292929;
}

#projects .projects .project.p-1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.801)), to(black)), url("/img/01.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), black), url("/img/01.png");
}

#projects .projects .project.p-1:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.493)), to(rgba(0, 0, 0, 0.411))), url("/img/01.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.411)), url("/img/01.png");
}

#projects .projects .project.p-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.801)), to(black)), url("/img/02.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), black), url("/img/02.png");
}

#projects .projects .project.p-2:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.493)), to(rgba(0, 0, 0, 0.411))), url("/img/02.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.411)), url("/img/02.png");
}

#projects .projects .project.p-3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.801)), to(black)), url("/img/03.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), black), url("/img/03.png");
}

#projects .projects .project.p-3:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.493)), to(rgba(0, 0, 0, 0.411))), url("/img/03.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.411)), url("/img/03.png");
}

#projects .projects .project.p-4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.801)), to(black)), url("/img/04.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), black), url("/img/04.png");
}

#projects .projects .project.p-4:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.493)), to(rgba(0, 0, 0, 0.411))), url("/img/04.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.411)), url("/img/04.png");
}

#projects .projects .project.p-5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.801)), to(black)), url("/img/05.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), black), url("/img/05.png");
}

#projects .projects .project.p-5:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.493)), to(rgba(0, 0, 0, 0.411))), url("/img/05.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.411)), url("/img/05.png");
}

#projects .projects .project.p-6 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.801)), to(black)), url("/img/06.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.801), black), url("/img/06.png");
}

#projects .projects .project.p-6:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.493)), to(rgba(0, 0, 0, 0.411))), url("/img/06.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.411)), url("/img/06.png");
}

#projects .projects .project .btn {
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 0;
  text-shadow: 0 0 10px black;
  -webkit-transform: translateZ(40px);
          transform: translateZ(40px);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.493);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.493);
  font-weight: bold;
  letter-spacing: 0.3px;
}

#projects .projects .project .btn:hover {
  color: #fff;
  background-color: var(--pry);
}

#projects .projects .project .project-info {
  margin: 10px;
  position: absolute;
  left: -30px;
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
}

#projects .projects .project .project-info .title {
  font-size: 1.6rem;
  width: 70%;
}

#projects .projects .project .project-info .number {
  font-weight: bold;
}

#projects .projects .project .project-info hr {
  width: 70%;
  border: 2px solid;
  border-radius: 10px;
  margin: 10px 0;
}

#projects .projects .project .project-info .tech {
  margin: 15px 0;
}

#projects .projects .project .project-info .tech > * {
  padding: 0 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#projects .projects .project .project-info .tech > *:hover {
  color: var(--pry);
}

#projects .projects .project.project-two {
  margin-top: 200px;
  margin-left: -50px;
}

#playground {
  position: relative;
  height: 450px;
}

#playground .swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

#playground .swiper-pagination-bullet {
  background-color: #eee;
}

#playground .content {
  -webkit-transform: translateZ(50px);
          transform: translateZ(50px);
  margin: 10px 20px;
}

#playground .content .title {
  font-size: calc(3rem - 100%);
}

#playground .content .btn {
  margin: 20px 0;
  padding: 10px 15px;
}

#playground .heading {
  padding: 20px 0;
  font-size: calc(5rem - 100%);
  opacity: 0.12;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

#playground .playground-card {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 10px auto;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  opacity: 0.1;
  padding: 20px;
  position: relative;
}

#playground .playground-card img {
  width: 300px;
  margin: auto;
}

@media screen and (max-width: 747px) {
  /** @format */
  #projects:after {
    font-size: calc(10rem - 100%);
  }
  #projects:before {
    top: 20%;
    left: 10%;
    height: 100%;
    width: 3px;
  }
  #projects .projects .project {
    height: 250px;
    min-width: 350px !important;
    margin: 20px 30px;
  }
  #projects .projects .project.project-two {
    margin-top: 10px;
    margin-left: 20px;
  }
}

/** @format */
@media screen and (max-width: 700px) {
  .cursor {
    display: none;
  }
  .top-header .nav-links {
    position: fixed !important;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 0;
    height: 100% !important;
    background: rgba(5, 5, 5, 0.828) !important;
    padding: 0 0px;
    width: 0px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px) !important;
    z-index: 20;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 10px rgba(128, 128, 128, 0.096);
            box-shadow: 0 0 10px rgba(128, 128, 128, 0.096);
  }
  .top-header .nav-links.active {
    width: 80px;
    padding-left: 0 8px;
  }
  .hamburger .bar-1.change {
    -webkit-transform: rotate(45deg) translate(6px, 2px);
            transform: rotate(45deg) translate(6px, 2px);
  }
  .hamburger .bar-2.change {
    opacity: 0;
  }
  .hamburger .bar-3.change {
    -webkit-transform: rotate(-45deg) translate(7px, -4px);
            transform: rotate(-45deg) translate(7px, -4px);
  }
  .top-header .nav-links .link:not(.active) {
    font-size: 30px;
    display: block;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: grey;
    opacity: 0.4;
  }
  .top-header .nav-links .link:hover:not(.active) {
    opacity: 1;
  }
  .top-header .nav-links .link {
    font-size: 30px;
  }
  .top-header .nav-links .nav-item {
    opacity: 0;
  }
  .top-header .nav-links .nav-item.active:nth-child(1) {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.4s;
            transition-delay: 0.4s;
    opacity: 1;
  }
  .top-header .nav-links .nav-item.active:nth-child(2) {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 0.8s;
            transition-delay: 0.8s;
    opacity: 1;
  }
  .top-header .nav-links .nav-item.active:nth-child(3) {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 1.2s;
            transition-delay: 1.2s;
    opacity: 1;
  }
  .top-header .nav-links .nav-item.active:nth-child(4) {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 1.4s;
            transition-delay: 1.4s;
    opacity: 1;
  }
  .top-header .nav-links .nav-item.active:nth-child(5) {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition-delay: 1.8s;
            transition-delay: 1.8s;
    opacity: 1;
  }
  .top-header .nav-links .link-name {
    display: none;
  }
  .top-header .nav-links .link-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top-header .nav-links .logo-middle {
    position: absolute;
    top: 10px;
    width: 50px;
    left: 6px;
    padding: 10px 0;
    margin: 0 10px;
    text-align: center;
    border-bottom: 2px solid rgba(128, 128, 128, 0.13);
  }
  .top-header .nav-links li {
    padding: 10px 0;
  }
  .nav-bar-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* padding:8px 0 */
  }
  .title {
    font-size: 17px;
  }
  .hero .content .intro {
    white-space: initial;
  }
  .contact {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .contact .socials {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 1190px) {
  .logo-hero {
    display: none;
  }
}

@media screen and (max-width: 430px) {
  .hero {
    padding: 100px 0;
  }
  .hero .content .intro {
    font-size: 2.3rem;
  }
  .hero .tiny {
    font-size: 13px;
    letter-spacing: 2px;
  }
  .contact .lt-info > h3 {
    font-size: 1.5rem;
  }
  .contact .lt-info > .sub {
    font-size: 18px;
  }
}

/**
 * ********
 * ONSCROLL ANIMATIONS
 * ***********
 * *********
 *
 * @format
 */
/*Globals*/
.scroller {
  -webkit-transition: 0.3s 0.3s;
  transition: 0.3s 0.3s;
  opacity: 0;
}

/********************/
.fade-up {
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

.fade-up.active {
  -webkit-animation-name: fade-up;
          animation-name: fade-up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@keyframes fade-up {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/**********************/
.fade-down {
  opacity: 0;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.fade-down.active {
  -webkit-animation-name: fade-down;
          animation-name: fade-down;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@keyframes fade-down {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

/*************/
/**********************/
/**********************/
.fade-in {
  opacity: 0;
}

.fade-in.active {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@keyframes fade-in {
  0% {
  }
  100% {
    opacity: 1;
  }
}

/*****************/
/***********
**************
*****'****/
@keyframes slide-2 {
  0% {
  }
  100% {
    -webkit-transform: translate(20px, 75px);
            transform: translate(20px, 75px);
  }
}

@keyframes fade {
  0% {
  }
  100% {
    opacity: 1;
  }
}

.cursor {
  position: fixed;
  top: -100%;
  display: none !important;
  left: 12%;
  height: 30px;
  width: 30px;
  border: 2px solid #fff;
  background: transparent;
  border-radius: 100px;
  mix-blend-mode: difference;
  z-index: 999;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.cursor::before {
  content: '';
  position: fixed;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 10px;
}

.scroll-guage {
  background: var(--pry);
  position: fixed;
  top: 0px;
  height: 2px;
  left: 0;
  right: 0;
  width: 0px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 29;
}

.block {
  margin: 3rem 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials a {
  margin: 20px 0;
}

.flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex .s-a {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex .s-b {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex img {
  margin: 0 6px;
  text-decoration: none;
}

.btn {
  letter-spacing: 4px;
  padding: 14px 16px;
  border: 1px solid var(--pry);
  color: var(--pry);
  background-color: transparent;
  -webkit-transition: 0.34s;
  transition: 0.34s;
  z-index: 99;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}
