@import './partials/varables','./partials/reset';
@import "./partials/components";
@import './partials/loader';
@import './partials/header','./partials/hero','./partials/about','./partials/contact',
'./partials/project';
@import './partials/responsive','./partials/animations';

.cursor {
    position: fixed;
    top: -100%;
    display: none !important;
    left: -12%;
    height: 30px;
    width: 30px;
    border:2px solid #fff;
    background: none;
    border-radius: 100px;
    z-index: 99; 
    transition: 0.4ms;


}


.scroll-guage {
    background:  var(--pry);
    position: fixed;
    top: 0px;
    height: 3px;
    left: 0;
    right: 0;
    width: 0px;
    transition: 0.2s;
    z-index: 9999
}


.block{
    margin:3rem 0
}





.flex {
    display: flex;
    >*{
        margin: 4px;
    }
}

.socials a {
    margin: 20px 0;
}

.flex.column {
    flex-direction: column;
}

.flex .s-a {
    justify-content: space-around;
}

.flex .s-b {
    justify-content: space-between;
}

.flex img {
    margin: 0 6px;
    text-decoration: none;
}


.btn {
    letter-spacing: 4px;
    padding: 14px 16px;
    border: 1px solid var(--pry);
    color: var(--pry);
    background-color: transparent;
    transition: 0.34s;
z-index:99;
    transition:0.8s
}
