@import "./varables";



.top-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    z-index: 14;
    background: rgba(0, 0, 0, 0.705);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.7s;
}



.top-header .nav-links {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 100px);
    grid-gap: 10px;
    list-style-type: none;
    justify-content: center;
}


.hamburger {
    /* margin: 0 15px; */
    position: absolute;
    margin-top:10px;
    top: 10px;
    right: 20px;
  display: flex;
  justify-content: center;
  place-items: center;
   height: 48px;
    width: 48px;
    border: 2px solid #eee;
    cursor: pointer;
    background: inherit;
    border-radius: 50%;
}



.hamburger-main-cont > div {
    width: 25px;
    height: 3px;
    border-radius: 10px;
    background-color: #fff;
    margin: 4px;
    border-radius: 20px;
    transition: 0.5s;
}

.hamburger-main-cont > div:nth-child(odd) {
    width: 20px;
}

.top-header .nav-links .link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
}

.top-header .nav-links .link.active {
    color: var(--pry);
}

.top-header .nav-links .link-icon {
    display: none;
}

.top-header .nav-links .link:hover:not(.active) {
    letter-spacing: 3px;
}


.nav-bar-mobile {
    display: none;
    justify-content: space-between;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    height: 70px;
    padding: 10px 0;

}

.nav-bar-mobile .logo {
    width: 50px;
    margin: 0 20px;
}














