/* ****************HERO SECTION********************************/
@import './varables','./animations';

.hero {
    position: relative;
 min-height: 60vh; 
padding: 0 !important;

    transition: 0.6s ease-out;
    transform: translateY(0);
    opacity: 1;
}
.hero.active{
    transform: translateY(-20px);
    opacity: 0;
}

.hero .small {
    font-size: 30px;
}

.ll {
    
    background: -webkit-linear-gradient(45deg, var(--pry), var(--sec),#8a00c5c2,#00c57dc0,#a91fe4,#28f6ab);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: linearAnimate 5s 0.2s linear infinite;
    background-size: 300% 100%;
          color: #fff;
          mix-blend-mode: screen; 
          &:hover{
            animation-play-state: paused;
  
            }
}


.hero .mt {
    transform: translateY(-10px);
    font-size: 20px;
    // height: 20px !important;
    display: flex;
    align-items: center;
    color:$pry;
    opacity: .9;

       &::after{
           content:'_';
           display: inline;
           color:#fff;
           opacity: 0;
           animation: fade-in 0.7s infinite;
           font-size: 20px !important;
       }


}

.hero .tiny {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 4px;
    opacity: .5;
}

.hero .w {
    font-size: 14px;
    color: #fff;
}


.hero .btn:hover {
    color: var(--dark);
    background-color: var(--pry)
}

.hero .content {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    // background: red;
    justify-content: space-around;
    align-items: center;
}



.hero .content .intro {
    position: relative;
    font-size: 3rem;
    color: #fff;
  
    margin: 0 5%;
    padding: 0;
    max-width: 600px;
    white-space: nowrap;

}



.hero .logo-initial-intro-name {
    /* position: absolute; */
    z-index: -1;
    top: 0;
    width: 100px;
    -moz-user-select: text;
    user-select: text;
    margin: 0;
    padding: 0;

}



.logo-hero {
position: absolute;
right:0;
z-index:-1;
top:40%;
opacity: .3;
transform: translateY(-50%);
    width:950px;
}

.fmo {
    margin-top: 20px;
}

.bg-logo-img {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
}