/* ****************HERO SECTION********************************/
@import './varables','./animations';

.hero {
    position: relative;
    /* height: 90vh; */
    padding: 5% 0 ;

    transition: 0.6s ease-out;
    transform: translateY(0);
    opacity: 1;
}
.hero.active{
    transform: translateY(-20px);
    opacity: 0;
}

.hero .small {
    font-size: 30px;
}

.ll {
    
    background: -webkit-linear-gradient(45deg, var(--pry), var(--sec),#8a00c5c2,#00c57dc0,#a91fe4,#28f6ab);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: linearAnimate 5s 0.2s linear infinite;
    background-size: 300% 100%;
          color: #fff;
          mix-blend-mode: screen; 
          &:hover{
            animation-play-state: paused;
  
            }
}


.hero .mt {
    transform: translateY(-10px);
    font-size: 20px;
    // height: 20px !important;
    display: flex;
    align-items: center;
    mix-blend-mode: screen;
    color: rgba(random(155) + 100, random(255) + 100, random(255), 1);
    color:$pry;
    opacity: .9;
          animation: clip#{1} 3s ease-in-out infinite alternate;
       &::after{
           content:'_';
           display: inline;
           color:#fff;
           opacity: 0;
           animation: fade-in 0.7s infinite;
           font-size: 20px !important;
       }


}

.hero .tiny {
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 4px;
    opacity: .5;
}

.hero .w {
    font-size: 14px;
    color: #fff;
}


.hero .btn:hover {
    color: var(--dark);
    background-color: var(--pry)
}

.hero .content {
    position: relative;
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
     max-height: 100vh;
    transform: translateY(10%); 
}



.hero .content .intro {
    position: relative;
    font-size: 3rem;
    color: #fff;
    animation: fade 0.5s 0.2s forwards linear;
    opacity: 0;
    margin: 0 5%;
    padding: 0;
    width: 600px;
    white-space: nowrap;

}


.hero .content .intro .name {
    position: absolute;
    left: 0;
    z-index: 1;
    animation: slide 0.7s 0.4s forwards;

}


.hero .logo-initial-intro-name {
    /* position: absolute; */
    z-index: -1;
    top: 0;
    width: 100px;
    -moz-user-select: text;
    user-select: text;
    margin: 0;
    padding: 0;
    transform: translate(20px, 20px);
    animation: slide-2 0.7s 0.4s forwards linear;

}



.logo-hero {

    width: 450px;
}

.fmo {
    margin-top: 20px;
}

.bg-logo-img {
    position: fixed !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: 0.4s;
}