/**
 * /* New Changes Made
 *
 * @format
 */
 .body-content-loaded{
     opacity: 0;
 }
 .loading-swipe{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    &.load-1{
        background-color: var(--sec);
    }
    &.load-2{
        background-color: var(--pry);
    }
    &.load-3{
        background-color:#000;
    }
}


#loader{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 99999999;
    h2{
        position: fixed;
        top: 50%;
        left: 50%;
        font-size: 40px;
        transform: translate(-50%, -50%);
        z-index: 9999999999999;
   }
}



#loader.false{

}