
    $dark: #222;
    $light: rgb(241, 241, 241);
    $pry: #00C57C;
    $sec: #8B00C5;

:root {
    --dark: #222;
    --light: rgb(241, 241, 241);
    --pry: #00C57C;
    --sec: #8B00C5;
}
